        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
            outline: none;
            border: none;
            transition: all 0.2s linear;
        }
        html {
            font-size: 62.5%;
            overflow-x: hidden;
            scroll-behavior: smooth;
        }
        body {
            background: #bed8fa;
            font-family: "Poppins", sans-serif;
        }
        *::selection {
            background: #2b3dda;
            color: #fff;
        }

        /* HEADER */
        
        header {
            position: sticky;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 1000;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.7rem 10%;
            height: 6.5rem;
            background-color: #fff;
            box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
        }
        section {
            min-height: 100vh;
            padding: 5rem 10%;
        }
        .heading {
            font-size: 5rem;
            color: rgb(80, 13, 88);
            font-weight: 800;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 8px;
            margin: 0 20rem 0 20rem;
        }
        header .navbar ul {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        header .navbar li {
            margin-left: 2.5rem;
        }
        header .navbar ul li a:link {
            font-size: 2rem;
            color: #0b1c25;
            font-weight: 600;
            text-decoration: none;
            letter-spacing: 0.04rem;
            transition: 0.2s;
        }
        header .navbar ul li a:hover {
            color: #011aff;
            border-bottom: 0.2rem solid #011aff;
            padding: 0.5rem 0;
        }
        header .navbar ul li a:active {
            color: #808cff;
            border-bottom: 0.4rem solid #808cff;
            padding: 0.5rem 0;
        }

        /* CLOSE HEADER */
        /* VIDEO */

        .video .container {
            padding: 2.5rem;
            padding-bottom: 1rem;
            width: 85%;
            margin: auto;
            margin-top: 2rem;
            margin-bottom: 1rem;
            align-items: center;
            text-align: center;
        }
        .title {
            font-size: 4rem;
            font-weight: bold;
            color: #141c61;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            align-items: center;
            margin-top: 3rem;
        }
        .video {
            width: 100%;
            height: auto;
            margin: 2rem 0;
        }
        .audio {
            width: 100%;
            height: 15rem;
            padding-top: 0;
        }
        .title a {
            text-decoration: underline 5px solid;
        }

        /* CLOSE VIDEO */
        /* FOOTER */

        .footer {
            min-height: auto;
            padding-top: 30px;
            padding-bottom: 80px;
            background: rgb(4, 4, 19);
        }
        .footer .box-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .footer .box-container .box {
            flex: 1 1 25rem;
            margin: 3rem;
        }
        .footer .box-container .box h3 {
            font-size: 3.5rem;
            color: #d9dadd;
            padding-bottom: 1rem;
            font-weight: bolder;
            text-decoration: underline;
        }
        .footer .box-container .box p {
            font-size: 1.8rem;
            color: #9baeb8;
            padding: 1rem 0;
            text-transform: none;
        }

        /* CLOSE FOOTER */